@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  background-color: var(--white);
  overflow-anchor: none;
  min-width: 375px;
  font-size: 15px;
}

html.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

::after,
:before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
button,
textarea {
  font: inherit;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background: transparent;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

label {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

select {
  outline: none;
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --orange: #fea803;
  --dark: #1a1a1a;
  --white: #fff;
  --gray: #a4a4a4;
  --silver: #e3e3e3;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--silver);
}

.logo {
  width: 80px;
  height: 80px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 50px;
}

.contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 60px;
}

.contacts-item:first-child {
  margin-left: 0px;
}

.contacts-item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
  height: 28px;
  margin-right: 10px;
  overflow: hidden;
}

.contacts-item__text {
  max-width: 165px;
}

.contacts-item__text-title {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: var(--dark);
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
}

.contacts-item__text-body {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.contacts-item:last-child .contacts-item__text-body {
  font-weight: 400;
  font-size: 12px;
  color: var(--gray);
}

.location-icon-svg {
  fill: var(--orange);
  width: 100%;
  height: 100%;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  white-space: nowrap;
  color: var(--white);
  background-color: var(--orange);
  border: 1px solid var(--orange);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}

.btn:hover {
  color: var(--orange);
  background-color: transparent;
}

.main-btn {
  padding: 18px 50px;
}

.burger {
  display: none;
}

.header-navigation {
  position: relative;
  padding: 20px 0;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu__item:hover .nav-menu__link {
  color: var(--orange);
}

.nav-menu__link {
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  color: var(--dark);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
}

.nav-menu__link:after {
  display: block;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: var(--orange);
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.nav-menu__link:hover:after {
  width: 100%;
}

.search__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.search__img:hover .search-icon-svg {
  stroke: var(--orange);
}

.search-active {
  position: absolute;
  top: 5px;
  right: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 1;
}

.search-active .search__img {
  display: none;
}

.search-icon-svg {
  width: 100%;
  height: 100%;
  stroke: var(--dark);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.search-form {
  display: none;
  padding: 15px;
  border: 1px solid var(--silver);
}

.search-form__input {
  width: 100%;
}

.search-form__button {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.search-form__button:hover .search-icon-svg {
  stroke: var(--orange);
}

.search-active .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form__input::-ms-clear {
  display: none;
}

.burger {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 35px;
  z-index: 100;
}

.burger__menu {
  width: 28px;
  height: 21px;
  position: relative;
}

.burger__menu::before,
.burger__menu::after {
  display: block;
  content: "";
  width: 50%;
  height: 2.3px;
  background: var(--dark);
  border-radius: 8px;
  position: absolute;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.2s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.2s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.burger__menu::before {
  left: 0;
  top: 0;
}

.burger__menu::after {
  right: 0;
  bottom: 0;
}

.burger__menu span {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 2.3px;
  border-radius: 50px;
  background-color: #212121;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger.menu--active .burger__menu::before,
.burger.menu--active .burger__menu::after {
  top: 9px;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger.menu--active .burger__menu::before {
  width: 100%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.menu--active .burger__menu::after {
  width: 100%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger.menu--active .burger__menu span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
}

.main-content__left {
  position: relative;
  z-index: 1;
}

.main-content__paragraph {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: var(--dark);
  max-width: 415px;
  margin-bottom: 30px;
}

.main-content__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  min-width: 0;
  position: relative;
}

.main-title {
  font-style: normal;
  font-weight: 400;
  font-size: calc(24px + 2.2900763359vw);
  line-height: 120%;
  text-transform: uppercase;
  color: var(--dark);
  margin-bottom: 25px;
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  max-height: 620px;
  -webkit-transform: scale(1.09);
      -ms-transform: scale(1.09);
          transform: scale(1.09);
  overflow: hidden;
}

.slider__content img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.main-calculation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 370px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 40px rgba(57, 57, 57, 0.15);
          box-shadow: 0px 4px 40px rgba(57, 57, 57, 0.15);
  padding: 30px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.calculation__title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
  max-width: 190px;
  margin: 0 auto 30px;
}

.filter__title {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.filter__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.filter__line {
  width: 100%;
  height: 4px;
  background-color: #f0f0f0;
  border-radius: 20px;
  position: relative;
}

.filter__values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 35px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 127.2%;
  letter-spacing: 0.02em;
  color: var(--dark);
  border: 1px solid #ececec;
  margin-left: 25px;
}

.noUi-base {
  height: 4px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.noUi-origin {
  width: 100%;
  height: 4px;
  border-radius: 10px;
  position: relative;
  top: 0;
  left: -1px;
  z-index: 0;
}

.noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: relative;
  background-color: var(--orange);
  cursor: pointer;
  position: absolute;
  top: -8px;
  right: -10px;
  z-index: 10;
}

.noUi-connect {
  background-color: var(--orange);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 1;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform-style: flat;
          transform-style: flat;
}

.values-filter__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.secect-content {
  width: 170px;
}

.secect-content__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid var(--silver);
  position: relative;
}

.secect-content__button::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 8px;
  height: 4px;
  background: url("../img/arrow-icon.svg") no-repeat center top/cover;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.secect-content__list {
  display: none;
}

.dropdown__button--active.secect-content__button:after {
  margin-top: -2px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown__list--visible {
  display: block;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.price__title {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.price__full-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: var(--orange);
}

.price__label {
  margin-right: 5px;
}

.calculation .btn {
  margin-top: 40px;
  text-align: center;
  width: 100%;
}

.calculation-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.calculation-input__input {
  width: 170px;
  padding: 10px 0;
  border-bottom: 1px solid var(--silver);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.cost-calculation {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  display: none;
}

.cost-calculation__text {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: var(--orange);
  pointer-events: none;
}

.cost-calculation__arrow {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8px;
  height: 8px;
  margin-left: 10px;
}

.arrow-icon-svg {
  width: 8px;
  height: 4px;
  fill: var(--orange);
}

.dropdown__list--visible.calculation-body {
  display: block;
}

.popup-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 200;
}

.popup-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 21, 21, 0.9);
}

.popup-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.popup {
  width: 100%;
  max-width: 465px;
  padding: 40px 50px 50px;
  background-color: var(--white);
  position: relative;
  z-index: 1;
  margin: 0 15px;
}

.popup__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.popup__head {
  text-align: center;
  margin-bottom: 5px;
}

.popup__header-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 20px;
}

.popup__header-subtitle {
  font-style: normal;
  font-size: 13px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.close-svg {
  width: 20px;
  height: 20px;
  fill: var(--orange);
}

.form-popup__input {
  width: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: var(--dark);
  padding: 15px 0;
  border-bottom: 1px solid var(--silver);
}

.form-popup__button {
  width: 100%;
  padding: 18px;
}

.policy {
  margin: 20px 0 30px;
}

.policy__checkbox-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.policy__checkbox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: 0;
  left: 0;
}

.policy__checkbox-label {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: var(--dark);
  padding-left: 25px;
  position: relative;
}

.policy__checkbox-label:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: var(--white);
  border: 1px solid var(--orange);
  border-radius: 2px;
  z-index: 1;
  cursor: pointer;
}

.policy__checkbox-label:after {
  display: block;
  content: "";
  opacity: 0;
  visibility: hidden;
  width: 11px;
  height: 9px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: absolute;
  top: 3px;
  left: 2px;
  z-index: 2;
  pointer-events: none;
}

.policy__link {
  color: var(--orange);
  position: relative;
}

.policy__link:after {
  display: block;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--orange);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.policy__link:hover:after {
  opacity: 1;
  visibility: visible;
}

.policy__checkbox-input:checked + .policy__checkbox-label:after {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 1310px) {
  .main-title {
    font-size: 54px;
  }
}

@media screen and (max-width: 1200px) {
  .contacts-item {
    margin-left: 15px;
  }

  .contacts-items {
    margin-right: 20px;
  }

  .calculation-body {
    display: none;
  }

  .cost-calculation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-calculation {
    top: auto;
    bottom: -30px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media screen and (max-width: 991px) {
  .contacts-item__location,
  .contacts-item__email {
    display: none;
  }

  .contacts-item__phone {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts-item__phone .contacts-item__text-body {
    display: none;
  }

  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-content__left {
    margin-top: 110px;
  }

  .main-content__paragraph {
    text-align: center;
    margin: 0 auto 20px;
  }

  .main-content__right {
    width: 100%;
  }

  .main-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .main-content .btn {
    width: 100%;
    text-align: center;
  }

  .main-content .button {
    margin: 0;
  }

  .slider__content {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 100;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-navigation {
    position: fixed;
    top: 0;
    left: -120%;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    overflow: auto;
    z-index: 50;
    background: #fff;
  }

  .header-navigation.menu--active {
    left: 0;
  }

  .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 75px 20px 20px;
  }

  .nav-menu__item {
    padding: 10px 0;
    text-transform: uppercase;
  }

  .search__img {
    display: none;
  }

  .search-active {
    position: static;
  }

  .search {
    margin-bottom: 20px;
  }

  .search__img {
    display: none;
  }

  .search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .contacts-item {
    margin-left: 0;
  }

  .contacts-items {
    margin-right: 35px;
  }

  .button {
    margin: 0 20px;
  }

  .main-title {
    font-size: calc(24px + 51 * (100vw - 320px) / 1310);
  }
}

@media screen and (max-width: 520px) {
  .main-calculation {
    width: 100%;
    max-width: 285px;
    padding: 15px;
  }
}

@media screen and (max-width: 320px) {
  .main-title {
    font-size: 24px;
  }
}